* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #636c53;
  margin: 0;
  padding: 0;
}

img {
  max-width: 50%;
  height: auto;
}

/* Header Container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: #CEB36E;
  box-shadow: 0 2px 4px rgba(206, 179, 110, 0.4);
  position: relative;
  border-radius: 5px;
}


/* Logo */

.logo-img {
  width: 60px;
  padding-right: 10px
}

.logo-text {
  width: 150px;
}

/* Nav Links */
.nav {
  display: flex;
  gap: 40px;
  font-size: 1.3em;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav a:hover {
  color: #636c53;
  transition: color 0.3
}

.body {
  display: flexbox;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body h1 {
  font-size: 4rem;
}

.body img {
  width: 800px;
}

.contact-info {
  background-color: #a6a7aa;
  width: 25%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 7px;
  border: none;
  font-size: 1.25rem;
}

.mission {
  width: 30%;
  margin: auto;
  font-size: 1.25rem;
}
