name: Deploy to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to cPanel
      id: deploy
      uses: pinkasey/cpanel-deploy-action@v1.0.0
      with:
        hostname: 'server355.web-hosting.com' 
        username: 'utahkiar'
        cpanel_token: ${{ secrets.CPANEL_TOKEN }}
        repository_root: 'jopoll87/generals-baseball'
        updateRepository: true
        branch: 'main'

    - name: echo deploy-duration
      run: echo "Deployment took ${{ steps.deploy.outputs.duration }} milliseconds"

