name: Deploy React Vite site to cPanel

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Build Vite app
      - name: Build project
        run: npm run build

      # 5️⃣ Deploy to cPanel
      - name: Deploy to cPanel
        id: deploy
        uses: pinkasey/cpanel-deploy-action@v1.2.1
        with:
          hostname: 'https://server355.web-hosting.com'
          cpanel_username: 'utahkiar'
          cpanel_token: ${{ secrets.CPANEL_TOKEN }}
          repository_root: '/home/utahkiar/repositories/generals-baseball'
          #updateRepository: true
          branch: 'main'

      #- name: echo deploy-duration  
        #run: echo "Deployment took ${{ steps.deploy.outputs.duration }} milliseconds"

